# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Logs and local db
*.log
*.sqlite3

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# macOS
.DS_Store

# PyCharm
.idea/

# System
Thumbs.db
ehthumbs.db

keys.json